/* Sticky footer styles
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  position: relative;
  min-height: 100%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

main {
  flex: 1 0 auto;
}

.brand-logo img {
    height: 50px;
    vertical-align: middle;
}

a, a:hover {
  color: inherit;
  text-decoration: inherit;
}
